:root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --black: rgb(50, 50, 50);
    --white: rgb(255, 255, 255);
}

.landing-copy {
    margin: auto;
    max-width: 30rem;
}

.guesses {
    flex-direction: column;
    display: flex;
    margin: 1.5rem auto 2.5rem auto;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.guess-row {
    border-radius: 0.5rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.us-state-autocomplete {
    margin: 1rem;
    width: 90%;
}

.empty-guess-row {
    background-color: #bdbdbd;
}

.incorrect-guess-color {
    background-color: #e0e0e0;
}

.filled-guess-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: animate-pop 0.3s forwards;
}

@keyframes animate-pop {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
    }
}

.economy-diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.guess-button {
    width: 50%;
}

.state-name {
    width: 45%;
}

.distance-label {
    width: 20%;
}

.end-guess-row-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.answer-dialog-content {
    padding: 2rem;
}

.correct-guess-row {
    background-color: #ffc107;
}

.gdple-heading {
    display: flex;
    justify-content: center;
}

.accordion-legend {
    margin: auto auto 2rem auto;
}

.tooltip-container {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    padding: 4px;
    border: none;
    box-shadow: 0px 0px 3px 0px #e6e6e6;
    list-style-type: none;
    max-width: 200px;
    position: absolute;
    visibility: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.tooltip-item {
    margin-top: 3px;
    margin-bottom: 3px;
}

.treemapRectangle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-svg {
    user-select: none;
    width: 24px;
    height: 24px;
}

.black-icon-background {
    user-select: none;
    width: 24px;
    height: 24px;
    background: var(--black);
}

.white-icon {
    fill: var(--white);
}

.black-background {
    background-color: var(--black);
    border: none;
}

.new-button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease;
    width: 50%;
}

.new-button:[active] {
    transform: scale(0.98);
}

.new-button[data-focused] {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.new-guess-button {
    background-color: #007bff;
}

.new-guess-button[data-hovered] {
    background-color: #0056b3;
}

.new-guess-button[active] {
    background-color: #004085;
}

.new-share-button {
    background-color: #ff8c00;
}

.new-share-button[data-hovered] {
    background-color: #e07a00;
}

.new-share-button:[active] {
    background-color: #c56900;
}

@import "@react-aria/example-theme";

.react-aria-ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--visual-viewport-height);
    background: rgba(0 0 0 / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &[data-entering] {
        animation: modal-fade 200ms;
    }

    &[data-exiting] {
        animation: modal-fade 150ms reverse ease-in;
    }
}

.react-aria-Modal {
    box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
    border-radius: 6px;
    background: var(--black);
    color: var(--white);
    outline: none;
    text-align: center;
    min-width: 288px;

    &[data-entering] {
        animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .react-aria-TextField {
        margin-bottom: 8px;
    }
}

@keyframes modal-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

.react-aria-Dialog {
    border: none;
}

.close-button-row {
    justify-content: end;
    display: flex;
}

.dialog {
    margin: 1rem;
}
